{% load i18n %}
{% load url from future %}



<script type="text/javascript">
    function getResults(rulesInfo){
	var xmlhttp;    
	if (window.XMLHttpRequest){
	    xmlhttp=new XMLHttpRequest();
	}
	else{
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange=function(){
	    if (xmlhttp.readyState==4 && xmlhttp.status==200){       			
	        var results=xmlhttp.responseText;
		//alert("results="+results);
		var table=document.getElementById("table_results");

        	var rows=table.rows.length;
        	for (var i=1; i<rows; i++){
        	    table.deleteRow(1); 
        	}

		//var rules=rulesInfo.split("@@");
		var rules=results.split("@@");
		for (var i=0; i<rules.length-1; i++){
		    var parts=rules[i].split("&");
		    var rule="";
            var rule_="";
			
		    rule="Name:<br>";
		    rule+="&nbsp;&nbsp;&nbsp;&nbsp;"+parts[0]+"<br>";

		    rule+="Objects:<br>";
		    rule+="&nbsp;&nbsp;&nbsp;&nbsp;"+parts[1]+"<br>";

		    var con=parts[1];
		    con=con.substr(0, con.length-1);
		    con=con.replace(/\|/g, "<br>&nbsp;&nbsp;&nbsp;&nbsp;");
		    rule+="Conditions:<br>";
		    rule+="&nbsp;&nbsp;&nbsp;&nbsp;"+parts[2]+"<br>";

		    rule+="Actions:<br>";
		    rule+="&nbsp;&nbsp;&nbsp;&nbsp;"+parts[3]+"<br>";

		    rule+="Data:<br>";
		    rule+="&nbsp;&nbsp;&nbsp;&nbsp;"+parts[4]+"<br>";
		
		   var result = parts[6]
            //var result="result"
		    var datalog = parts[5]
            //var datalog="datalog"
		    //datalog = datalog.replace("\:-", "\:-\n");
		    //var replaceStr="),";
		    //datalog = datalog.replace(new RegExp(replaceStr,'gm'), "),\n");

            rule_="Name:"+parts[0]+"<br/>Objects:"+parts[1]+"<br/>Conditions:"+parts[2]+"<br/>Actions:"+parts[3]+"<br/>Data:"+parts[4];
		    var data0='<tr><td>'+rule+'</td></tr>';
		    var data1='<tr><td>'+datalog+'</td></tr>';
		    var data2='<tr><td>'+result+'</td></tr>';
		    var row=table.insertRow(table.rows.length);
		    var col;

		    col=row.insertCell(0);
		    col.innerHTML = data0;

		    col=row.insertCell(1);
		    col.innerHTML = data1;

		    col=row.insertCell(2);
		    col.innerHTML = data2;
		}
	    }
        }
	xmlhttp.open("GET","show_results",true);
	xmlhttp.send();
    }

    window.onload = function(){ setInterval(getResults, 5000); }
</script>


<table width="100%" id="table_results"  border="1" class="t1">
    <thead>
        <th width="40%">Rule</th>
        <th width="50%">Datalog</th>
        <th width="10%">Results</th>
    </thead>
</table>
